/* Contêiner principal da página de Checkout */
.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
  box-sizing: border-box;
}

/* Título */
h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #333;
}

h3 {
    font-size: 28px;
  margin-bottom: 10px;
  margin-top: 15px;
  color: #333;
}

/* Exibir o total do carrinho */
p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

/* Formulário */
.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;  /* Faz o formulário ocupar toda a largura disponível */
  justify-content: flex-start;
  width: 100%;
  max-width: 600px;  /* Limita a largura do formulário */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
  /* Centraliza o formulário */
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.payment {
  margin-top: 10px;
}

/* Estilo dos Campos de Entrada */
input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  border-color: #ff8c00;
  outline: none;
}

/* Mensagens de Erro */
small {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}

/* Estilo dos Botões */
button[type="submit"] {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #ff8c00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button[type="submit"]:hover {
  background-color: #e07b00;
}

/* Estilo das opções de pagamento */
mat-radio-group {
  margin: 20px 0;
}

mat-radio-button {
  font-size: 16px;
}

mat-radio-button:hover {
  background-color: transparent;
}

@media (max-width: 600px) {
  mat-toolbar {
    flex-direction: row;
    /* Empilha os itens na vertical */
    text-align: center;
    /* Centraliza os itens */
  }

  mat-toolbar a {
    margin-bottom: 10px;
    /* Adiciona espaçamento entre os itens na barra */
  }

  /* Ajusta o logo para o tamanho adequado */
  mat-toolbar .logo {
    width: 100%;
    /* Torna o logo ajustável */
    max-width: 130px;
    height: auto;
    /* Limita o tamanho do logo */
    margin: auto;
    /* Centraliza o logo */
  }

  /* Adapta os botões de navegação para um layout mais adequado */
  mat-toolbar a {
    font-size: 14px;
    /* Ajuste de fonte para telas pequenas */
    margin-right: 0;
    /* Remove o espaçamento à direita */
  }
}

/* Responsividade para a mat-toolbar em telas muito pequenas (393px) */
@media (max-width: 400px) {
  mat-toolbar {
    flex-direction: column;
    /* Empilha os itens na vertical */
    align-items: center;
    /* Centraliza os itens verticalmente */
    text-align: center;
    margin-bottom: 210px;
    /* Garante que o conteúdo da barra de navegação fique centralizado */
  }

  mat-toolbar a {
    font-size: 12px;
    /* Ajusta o tamanho da fonte para melhor leitura */
    margin-bottom: 5px;
    /* Reduz o espaçamento entre os links */
  }

  /* Ajustar o logo para se ajustar melhor */
  mat-toolbar .logo {
    width: 100%;
    max-width: 120px;
    /* Reduz o tamanho máximo do logo */
    margin: 10px 0;
    height: auto;
    /* Limita o tamanho do logo */
    margin: auto;
    /* Adiciona espaçamento em cima e embaixo */
  }

  /* Ajuste no formulário para telas estreitas */
  .form {
    width: 90%;
    /* Diminui a largura do formulário para que ele não ultrapasse a tela */
    margin: 0 auto;
    /* Centraliza o formulário */
  }


  input[type="text"],
  input[type="email"],
  input[type="password"] {
    font-size: 14px;
    /* Ajusta o tamanho da fonte dos inputs */
    padding: 8px;
    /* Ajusta o padding para não ficar muito grande */
  }

  button[type="submit"] {
    width: 100%;
    /* Faz o botão ocupar toda a largura disponível */
    padding: 10px 0;
    font-size: 16px;
  }

  main {
    margin-top: 0;
  }
}
