img {
    max-width: 100%;
    width: 350px;
    height: auto;
    margin-bottom: 1rem;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  button:hover {
    background-color: #45a049;
  }
  