<div class="page-container">
  <div class="page-content">
    <div *ngIf="product">
      <h2>{{ product.name }}</h2>
      <img [src]="product.imageUrl" alt="{{ product.name }}">
      <p>{{ product.description }}</p>
      <p class="price">Preço: R$ {{ product.price }}</p>
      <button (click)="addToCart(product)">Adicionar ao Carrinho</button>
      <button class="back-button" (click)="goBack()">Voltar</button> <!-- Botão de Voltar -->

    </div>
  </div>
</div>

<div *ngIf="!product">
  <p>Produto não encontrado.</p>
</div>