img {
    max-width: 100%;
    width: 350px;
    height: auto;
    margin-bottom: 1rem;
  }
  
  button {
    background-color: #b8860b;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  button:hover {
    background-color: rgba(184, 134, 11, 0.2);
  }
  
  /* Contêiner principal da página de detalhes */
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  text-align: center;
  margin-top: -30px;
}
/* Contêiner do conteúdo da página */
.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%; 
  margin-bottom: -30px;
}

.page-content img {
  width: 100%;
  max-width: 300px;       /* Limita a largura da imagem */
  height: auto;
  margin-bottom: 15px;
}

.page-content h2 {
  font-size: 24px;
  margin: 10px 0;
}

.page-content p {
  font-size: 16px;
  color: #555;
}

.page-content .price {
  font-weight: bold;
  margin: 10px 0;
}