/* Estilo para a tela de login */
.login-container {
    display: flex;
    justify-content: center; /* Centraliza o formulário */
  }
  
  /* Formulário de login */
  .login-form {
    background: #ffffff; /* Fundo branco para o formulário */
    padding: 30px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 100%;
    max-width: 400px; /* Largura máxima */
  }
  
  /* Título do formulário */
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  /* Estilo para os campos de entrada */
  .login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0; /* Espaçamento entre os campos */
    border: 1px solid #ccc;
    border-radius: 5px; /* Bordas arredondadas nos campos */
    font-size: 16px;
  }
  
  /* Estilo para o botão de login */
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #b8860b; /* Cor verde */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: rgba(184, 134, 11, 0.2); /* Cor de hover para o botão */
  }
  
  /* Mensagens de erro (se houver) */
  .login-form .error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
  
  /* Mensagem de erro */
.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }