<div>
  <input
    type="text"
    placeholder="Buscar produtos..."
    [(ngModel)]="searchTerm"
    (input)="filterProducts()"
  />
</div>

<div class="product-grid">
  <mat-card *ngFor="let product of products" class="product-card">
    <mat-card-header>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>{{ product.description }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="product.imageUrl" alt="{{ product.name }}">
    <mat-card-content>
      <p>Preço: R$ {{ product.price }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" [routerLink]="['/product', product.id]">Ver Detalhes</button>
    </mat-card-actions>
  </mat-card>
</div>
  