.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  transition: transform 0.3s ease-in-out; /* Transição suave */
  transform-origin: center; /* Garante que o aumento seja feito a partir do centro */
}

.product-card:hover {
  animation: pulse 1.5s infinite; /* Aplica a animação de pulsação */
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Tamanho original */
  }
  50% {
    transform: scale(1.1); /* Aumento de 10% */
  }
  100% {
    transform: scale(1); /* Retorna ao tamanho original */
  }
}

.product-card img {
  max-width: 100%;
  width: 350px;
  height: 250px;
}

.product-card button {
  background-color: #b8860b;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.product-card button:hover {
  background-color: rgba(184, 134, 11, 0.2);
}

.product-card p {
  font-size: 13px;
}

.product-card mat-card-subtitle {
  min-height: 80px;
  font-weight: 300;
  /* Ajuste conforme necessário */
}

.button {
  display: inline-block;
  /* Para agir como botão */
  padding: 0.5rem 1rem;
  /* Espaçamento interno */
  text-align: center;
  /* Alinhar texto */
  color: white;
  /* Cor do texto */
  background-color: #b8860b;
  /* Cor de fundo */
  border: none;
  /* Remover borda */
  border-radius: 5px;
  /* Bordas arredondadas */
  text-decoration: none;
  /* Remover sublinhado */
  cursor: pointer;
  /* Alterar cursor para mãozinha */
}

.button:hover {
  background-color: rgba(184, 134, 11, 0.2);
  /* Cor de fundo ao passar o mouse */
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* Centraliza dentro do pai */
  width: 100%;
}

.search-bar {
  width: 300px;
  /* Ajuste o tamanho conforme necessário */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: -50px;
  margin-bottom: 40px;
}

.mat-mdc-card-actions {
  align-items: initial;
}