.banner-card {
  background-image: url('/assets/banner_ecommerce.png');
  background-size: cover;
  background-position: center;
  height: 400px;
  /* Ajuste a altura conforme necessário */
  color: white;
  padding: 50px 20px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  /* Para garantir que o pseudo-elemento não ultrapasse os limites */
}

.banner-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  /* Ajuste a opacidade conforme necessário */
  z-index: 2;
  border-radius: 10px;
}

.banner-content {
  position: relative;
  /* Certifique-se de que o conteúdo esteja acima do pseudo-elemento */
  z-index: 2;
  /* Este valor garante que o texto estará acima do pseudo-elemento escuro */
  padding: 20px;
  border-radius: 5px;
}

.banner-text-container {
  text-align: center;
  margin: 20px auto;
  /* Centraliza o texto com um espaço superior */
  max-width: 800px;
  /* Ajusta a largura máxima para controle de layout */
  color: #333;
  /* Cor do texto */
}

.banner-text-container h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.banner-text-container p {
  font-size: 1.3em;
  margin-top: 5px;
  color: #555;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
    /* O zoom é o tamanho maior */
  }

  100% {
    transform: scale(1);
  }
}

/* Aplica a animação ao texto */
.banner-text-container h2,
.banner-text-container p {
  animation: zoomInOut 3s infinite ease-in-out;
  /* 3s para cada ciclo e infinita */
}


.banner-content button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.welcome-text {
  text-align: center;
  margin: 20px;
}

.products-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}


.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

/* Ajuste para garantir a altura consistente dos cards */
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  /* Remover a altura fixa */
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  /* Garante que o conteúdo dentro do card fique bem distribuído */
  width: 250px;
  /* Reduzir a largura do card */
  max-width: 100%;
  /* Garante que o card ocupe até 100% da largura disponível */
  transition: transform 0.3s ease-in-out;
  /* Transição suave */
  transform-origin: center;
  /* Garante que o aumento seja feito a partir do centro */
}

.product-card:hover {
  animation: pulse 1.5s infinite;
  /* Aplica a animação de pulsação */
}

@keyframes pulse {
  0% {
    transform: scale(1);
    /* Tamanho original */
  }

  50% {
    transform: scale(1.1);
    /* Aumento de 10% */
  }

  100% {
    transform: scale(1);
    /* Retorna ao tamanho original */
  }
}

/* Para garantir que os botões fiquem no final */
.product-card mat-card-actions {
  margin-top: auto;
  /* Empurra o botão para o final do card */
}

/* Para as imagens, garantindo que não ultrapassem a altura do card */
.product-card img {
  width: 100%;
  /* A imagem ocupa toda a largura do card */
  height: auto;
  /* A altura é ajustada automaticamente para manter as proporções */
  object-fit: contain;
  /* Garante que as imagens se ajustem ao tamanho do container */
}

/* Se necessário, ajuste o tamanho da descrição também */
.product-card mat-card-content {
  flex-grow: 1;
  /* Faz a descrição crescer para ocupar o restante do espaço */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 14px;
}

.product-card button {
  background-color: #b8860b;
  /* Cor de fundo do botão */
  color: white;
  /* Cor da fonte */
  padding: 10px 20px;
  /* Ajusta o tamanho do botão */
  border-radius: 5px;
  /* Arredonda os cantos do botão */
  font-size: 14px;
  /* Tamanho da fonte */
  text-transform: uppercase;
  /* Coloca o texto do botão em letras maiúsculas */
  width: auto;
  /* Faz o botão ter o tamanho apropriado */
  transition: background-color 0.3s;
  /* Transição suave para a cor de fundo */
}

.product-card button:hover {
  background-color: rgba(184, 134, 11, 0.2);
  /* Cor do botão ao passar o mouse */
}

.product-card button:focus {
  outline: none;
  /* Remove o contorno padrão de foco */
}